#top-header {
    background-color: #096563;
    min-height: 35px;
}

#quick-contact ul li {
    font-size: 14px;
    line-height: 1.1;
    float: left;
    padding-top: 8px;
    display: inline-block;
    color: #fff;
}

.f-link a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.btn-color {
    background-color: #ffab1f;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

img {
    height: auto;
    max-width: 100%;
}

.main-nav {
    background-color: #29705f;
    height: 58px;
    border-bottom: 5px solid #8d9f35;
    display: block;
    float: left;
    width: 100%;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-bac :hover{
    background-color: #8d9f35 !important;
}
.right-header{
    background-color: #435b3a;
    height: 35px;
    border-left: 5px solid #e18606;
    border-end-start-radius: 5px;
    font-size: 25px;
    color: #fff;
    text-align: center;
}
.footer{
    height: 70px;
    width: 100%;
    background-color:#29705f ;
    color: #fff;
}

/* 2nd page  */
.pt-3 ul li a{
    color: #89958e;
    text-decoration: none;
}